nav {
	margin-bottom: 50px;
}
.card {
	margin-bottom: 20px;
	text-align: center;
	border: none;
	transition: all 0.5s;
}
.card:hover {
	background-color: #ccc;
}

aside h2 {
	font-size: 1em;
	background-color: #EBEBEB;
	text-align: center;
	padding: 8px 15px;
	border: 1px solid #000;
	border-radius: 10px;
}
aside ul {
	list-style: none;
	padding-left: 0;
}
aside ul a:hover {
	text-decoration: none;
}

footer {
	margin-top: 50px;
	padding: 15px;
	color: #fff;
	text-align: center;
}
.abc {
	
	border: 1px solid #000;
	background-color: #f8f9fa;
}
.xuong {
	top :26px
}
.mau_den {
	color: #000;
}
.mau_xanh{
	color: blue !important;
	margin-right: -7px;
	margin-left: -5px;
}
.box-bottom {
	margin-top: 10px;
	display: flex;
	text-align: center;
}
.box-bottom img {
	width: 90%;
}
.padding-7 {
	padding: 7px;
}
.summary {
	text-align: center;
}
.summary p {
	text-align: left;
}
.summary h2 {
	font-weight: normal;
}
h3 {
	font-size: 1.25em;
}
.can_le_trai {
	margin-left: 148px;
}
.Category_topproducts_1 {
	border-radius: 0;
	margin-bottom: 0;
}
.ke_dong{
	border: 1px solid #000;
}
.ke_dong_lon {
	margin-left: 15px;
	padding: 0;
}
.ke_dong_nho {
	margin-bottom: 0;
}

